body {
    background-image: url("./../images/backgroundLOTR.jpg");
    background-size: cover;
    font-family: 'PT Serif', serif;
    font: bold;
}

.main {
    float: left;
    margin: 20px 10px;
    border: 2px solid green;
}

.your {
    border: 2px solid green;
}

.available {
    border: 2px solid black;
}

.defender {
    border: 2px solid red;
}


.yourColumn, .defenderColumn, .availableColumn {
    margin-top: 15%;
}

#your-character {
    margin-bottom: 50px;
    margin-top: 150px;
}

#fight-section {
    margin-top: 120px;
}

img {
    width: 120px;
    height: 100px;
    align-self: center;
}

h1 {
    font-size: 300%;
}

h3, h5 {
    color: white;
}



h6 {
    text-align: center;
}

.card {
    height: 150px;
    width: 150px;
}