body {
    background-image: url("./../images/backgroundLOTR.jpg");
    font-family: 'PT Serif', serif;
}

.main {
    float: left;
    margin: 20px 10px;
}

.yourColumn, .defenderColumn, .availableColumn {
    margin-top: 5%;
}

img {
    width: 120px;
    height: 100px;
    align-self: center;
}

h1 {
    font-size: 300%;
}

h3, h5 {
    color: #D8DBE2;
}



h6 {
    text-align: center;
}

.card {
    height: 150px;
    width: 150px;
}